
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="index" content="This is a short project about learning flask!">
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename = "index.css")}}">
        <title>Index Flask Project</title>
    </head>
    <body>

        <a href="/ninjas">Ninjas</a>
        <a href="dojos">Dojos</a>
        <h1>Hello World!</h1>
        <p>Click on the above links to explore the world of Ninjas!!!</p>

    </body>
</html>
