
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="ninjas" content="Ninjas project in flask">
        <link rel="stylesheet" type="text/css" href="{{url_for("static", filename = "ninja.css")}}">
        <title>Ninjas Flask Project</title>
    </head>
    <body>

        <div id="wrapper">

            <a href="/">Home</a>
            <a href="/dojos">Dojos</a>
            <h1>Ninjas</h1>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/cd/ee/6f/cdee6fe1f194932a892345a5bb2e82be--character-reference-cartoon-characters.jpg" alt="Ninja">
            <p>Ninjas are a stealthy breed! They creep on you with amaizing quietness!</p>
            <p>They are so sneaky, that you could be looking right at them and notice nothing!</p>

        </div>

    </body>
</html>
