<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random Word Generator</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'generate/css/index.css' %}" media="screen" title="no title"  charset="utf-8">
        <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
    </head>

    <body>
        <div class="wrapper">
            <h1>Random Word Generator</h1>
            <h3>Random Word (attempt #{{ request.session.attempts }})</h3>
            <h2>~{{ request.session.randWord }}~</h2>
            <a href="/generate"><button>Generate</button></a>
            <a href="/reset"><button>Reset</button></a>
        </div>
    </body>
</html>
