.wrapper{
    background-color: red;
    height: 95px;
    width: 500px;
}

    h1{
        border-bottom: 3px solid blue;
        width: 450px;
        text-align: center;
        margin-left: 25px;
        color: white;
    }

    main{
        border: 1px solid blue;
        height: 25px;
        width: 200px;
        font-size: 16pt;
        text-align: center;
        margin-left: 140px;
        color: white;
    }
