<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Success</title>
        <link rel="stylesheet" href="{{url_for("static", filename = "success.css")}}">
    </head>
    <body>

        <div class="wrapper">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="success">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <h1>Email Addresses Entered:</h1>
            <!-- with all the data we can then construct a more structured output -->
            {% for email in all_emails: %}
            <p>{{ email['email'] }} {{ email['created_at']}}</p>
            <hr>
            {% endfor %}

        </div>

    </body>
</html>
